UID and LAST-MODIFIED properties in .ics import/export to resolve conflicts and avoid duplications

iCalendar files support LAST-MODIFIED and UID properties, which are useful for resolving conflicts when importing and exporting .ics files. As I understand, these properties are necessary for implementing sync -- in particular in solving the problem when importing calendar items of conflicts between different versions of calendar items and identifying and excluding duplicate items.

[LAST-MODIFIED](https://icalendar.org/iCalendar-RFC-5545/3-8-7-3-last-modified.html) is the timestamp of the last time a calender item is edited (in the same date-time format as DTSTART/DTEND).

[UID](https://icalendar.org/New-Properties-for-iCalendar-RFC-7986/5-3-uid-property.html) is a globally unique ID for the item (recommended to be a RFC4122 UUID), e.g. `UID:5FC53010-1267-4F8E-BC28-1D7AE55A7C99` - can just be generated with `java.util.UUID`).

I've noticed these properties in exports from Lightning Calendar, and I think Lightning (and probably other calendars) uses these to identify duplicates and resolve conflicts when importing from .ics.

It would be good if Simple-Calendar could
 - include these properties in exported .ics files to increase interoperability.
 - and also, implement intelligent import which considers these properties to avoid duplicates and correctly handle multiple revisions of the same item

My rough understanding of the logic is that you would use the UID to identify duplicate events. In the case of a UID conflict, the item with the later LAST-MODIFIED date would overwrite the older. If the existing item has a later LAST-MODIFIED, it would not be overridden (maybe the app would warn of a conflict in this case).
Implementing this import algorithm would go most of the way to satisfy #169, I think.

There is also a [SEQUENCE](https://icalendar.org/iCalendar-RFC-5545/3-8-7-4-sequence-number.html) number, which as I understand is a revision counter that is incremented each time an item is edited. I guess this should also be considered when determining whether to overwrite events with identical UID. I don't quite understand how this is supposed to work across different clients, though.

Maybe there would be configuration option for whether to prefer the latest LAST-MODIFIED or instead to only rely on SEQUENCE.

There is also a [CREATED](https://icalendar.org/iCalendar-RFC-5545/3-8-7-1-date-time-created.html) property, which Lightning also sets. It's not necessary for the import algorithm, I think, but still maybe worth including.

Thanks very much for your work on this great app.

Hey, Ill see what can I do to improve it. Im already using the UID property at importing events and checking for duplicates if its there, not doing anything with it at exporting.

Thanks for your reply. I see now that you are using UID already in import. I wasn't sure how much of this you were already doing.

Im adding importID to new events too already which is exported with it, that should do it.
I dont really care about the Sequence. Instead of Created Im using last_updated, seems more important. It has the value of created initially.
If I forgot about something let me know, its a long report.